.error {
  color: red;
}

.valid {
  font-size: 14px;
  color: green;
  margin-bottom: 0px;
}
.invalid {
  font-size: 14px;
  font-weight: bold;
  color: red;
  margin-bottom: 0px;
}

.validating {
  font-size: 14px;
  font-style: italic;
  color: #808080;
  margin-bottom: 0px;
}

label > strong {
  color: #f06721;
}

label {
  display: block;
  font-size: 16px;
  margin-top: 12px;
}

button {
  margin-top: 18px;
}

.bulletList {
  margin: 12px 8px 12px 32px;
}

.fetchViewer {
  margin-top: 12px;
}

.buttonLink {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.version {
  font-size: 12px;
  font-style: italic;
  margin-top: 8px;
  margin-left: 8px;
}
.formSpacer {
  margin-top: 12px;
}
#headerWarning {
  float: right;
  margin-top: 10px;
  margin-right: 12px;
  padding: 4px 8px;
  color: red;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
h2 {
  margin-top: 20px;
  margin-bottom: 8px;
}
.bigContainerTitle h2 {
  margin: 8px 0px 6px 8px;
}
li {
  margin-top: 4px;
  margin-bottom: 4px;
}

.checkbox {
  font-size: 13px;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
}
.list1 {
  margin-left: 20px;
}
.list2 {
  margin-left: 20px;
}
.eligibility {
  font-size: 15px;
  font-style: italic;
  background-color: #efefba;
  padding: 8px 16px;
  font-weight: 500;
  margin-right: 16px;
}
.center {
  text-align: center;
}
.closing {
  margin: 16px 8px 0px 0px;
}
.closing button {
  margin-left: 0px;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-family: Roboto, Tahoma, Verdana, sans-serif;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  font-family: "Segoe UI", Verdana, sans-serif;
  display: inline;
  font-style: italic;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
.confirm {
  margin-left: 0px;
}
.confirm .label {
  font-size: 13px;
  width: 90px;
  padding-bottom: 12px;
  padding-right: 12px;
  text-align: right;
  font-style: italic;
}
.confirm .value {
  padding-bottom: 12px;
  font-size: 15px;
  font-weight: bold;
}
.good {
  color: white;
  background-color: #298629;
}
.optins {
  margin-left: 24px;
}
