.error {
  color: red;
}

.valid {
  font-size: 14px;
  color: green;
  margin-bottom: 0px;
}
.invalid {
  font-size: 14px;
  font-weight: bold;
  color: red;
  margin-bottom: 0px;
}

.validating {
  font-size: 14px;
  font-style: italic;
  color: #808080;
  margin-bottom: 0px;
}

label > strong {
  color: #f06721;
}

label {
  display: block;
  font-size: 16px;
  margin-top: 12px;
}

button[type="button"] {
  margin-top: 18px;
}

.bulletList {
  margin: 12px 8px 12px 32px;
}

.fetchViewer {
  margin-top: 12px;
}

.buttonLink {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
